body {
  background-color: rgb(3, 3, 3);
  margin: 0 15% 0 15%;
}
header interface {
  padding: 40px 4%;
}
.logo {
  width: 200px;
  text-align: center;
}
.nav-link {
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #ff7b00;
  transform: scale(1.05);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.493);
}
.navbar-nav .nav-link {
  margin: 0 30px;
  font-size: 20px;
  font-weight: 500;
}
.text-custom {
  color: white;
}

section {
  padding: 50px;
  margin: 50px;
}

.code {
  color: #ffffff;
  font-family: "Fira Code", monospace;
}

.barra {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #fff;
  white-space: nowrap;
  animation: digitando 2.5s steps(30, end),
    barra-piscando 0.75s step-end infinite;
}

@keyframes digitando {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes barra-piscando {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
