body {
  background-color: rgb(3, 3, 3);
  margin: 0 15% 0 15%;
}
header interface {
  padding: 40px 4%;
}
.logo {
  width: 200px;
  text-align: center;
}
.nav-link {
  transition: color 0.3s ease;
}
.nav-link:hover {
  color: #ff7b00;
  transform: scale(1.05);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.493);
}
.navbar-nav .nav-link {
  margin: 0 30px;
  font-size: 20px;
  font-weight: 500;
}
.text-custom {
  color: white;
  font-family: "Fira Code", monospace;
}

section {
  padding: 50px;
  margin: 50px;
}

.code {
  color: #ffffff;
  font-family: "Fira Code", monospace;
}

.barra {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #fff;
  white-space: nowrap;
  animation: digitando 2.5s steps(30, end),
    barra-piscando 0.75s step-end infinite;
}

@keyframes digitando {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes barra-piscando {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
.carousel-indicators {
  bottom: -40px;
}
.carousel-indicators .active {
  background-color: #ff7b00;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b00' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.354a.5.5 0 0 1 0 .707L5.707 8l5.647 5.939a.5.5 0 0 1-.708.707l-6-6.354a.5.5 0 0 1 0-.707l6-6.354a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  filter: none;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff7b00' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.354a.5.5 0 0 1 .708 0l6 6.354a.5.5 0 0 1 0 .707l-6 6.354a.5.5 0 1 1-.708-.707L10.293 8 4.646 2.061a.5.5 0 0 1 0-.707z'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  filter: none;
}
#sobre-mim {
  height: 480px;
  color: #fff;
  font-family: "Fira Code", monospace;
  text-align: justify;
}
.name-custom {
  color: #ff7b00;
  display: block;
  line-height: 30px;
  font-size: 35px;
  font-weight: 20px;
  word-spacing: -10px;
}
.saudacoes {
  font-size: 35px;
}
.formacao {
  line-height: 40px;
}
.btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #ff7b00;
  font-size: 25px;
  cursor: pointer;
  margin: 0 2px;
  transition: transform 0.5s ease;
}
.btn-social button:hover {
  transform: rotate(360deg);
  background-color: rgb(3, 3, 3);
  color: #fff;
}
.borda {
  padding: 20px;
  background: linear-gradient(to top, rgba(3, 3, 3, 0.137), rgb(17, 17, 17));
}
